
*.foreground:  #d3c6aa
*.background:  #2f383e
*.cursorColor: #503946
*.tabspaces: 4

!! for st
! 8 normal colors
*.color0: #2f383e
!*.color1: #544247
!*.color2: #445349
!*.color3: #504f45
!*.color4: #3b5360
!*.color5: #8f3f71 
!*.color6: #326b48
!*.color7: #7a8478
*.color1: #e67e80
*.color2: #a7c080
*.color3: #dbbc7f
*.color4: #7fbbb3
*.color5: #d699b6
*.color6: #83c092
*.color7: #d3c6aa

! 8 bright colors
*.color8: #859289
*.color9: #e67e80
*.color10: #a7c080
*.color11: #dbbc7f
*.color12: #7fbbb3
*.color13: #d699b6
*.color14: #83c092
*.color15: #d3c6aa

!!*.Xft.dpi: 100
